
// Medium screen <1400px
@media screen and (max-width: 1399px) {
    
}
// Medium screen <1200px
@media screen and (max-width: 1199px) {
    
}
@media screen and (max-width: 1000px) {
    
}
// Medium screen <992px
@media screen and (max-width: 991px) {
.reviews {
    &__left {
        max-width: 450px;
    }
}
}
@media screen and (max-width:850px) {
    
}
// Small screen <768px
@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 690px) {
    .header{
        &__nav {
            display: none;
        }
    }

    
}
// Small screen <576px 
@media screen and (max-width: 601px) {
    .cta {
        max-width: 50%;
        &__title {
            font-size: 14px;
            font-weight: 500;
        }
        &__subtitle {
            font-size: 12px;
            font-weight: 300;
        }
    }
    .reviews {
        &__wrapper {
            
        }
        &__right {
            max-width: 300px;
        }
    }
}
// Small screen <576px 
@media screen and (max-width: 481px) {
    // .reviews {
        
    //     &__wrapper {
    //     }
        
    //     &__right {
    //         max-width: 260px;
    //         // transform: translateX(-10%);
    //     }
    // }
}
@media screen and (max-width: 381px) {
    .reviews {
        
        &__wrapper {
        }
        
        &__right {
            max-width: 260px; 
        }
    }
}
@media screen and (max-width: 338px) {
    .reviews {
        
        &__wrapper {
        }
        
        &__right {
            max-width: 220px; 
        }
    }
}
@media screen and (max-width: 296px) {
    .reviews {
        
        &__wrapper {
        }
        
        &__right {
            max-width: 200px; 
        }
    }
}
@media screen and (max-width: 273px) {
    .reviews {
        
        &__wrapper {
        }
        
        &__right {
            max-width: 180px; 
        }
    }
}