
// Medium screen <1400px
@media screen and (max-width: 1399px) {
    
}
// Medium screen <1200px
@media screen and (max-width: 1199px) {
    
}
@media screen and (max-width: 1000px) {
    
}
// Medium screen <992px
@media screen and (max-width: 991px) {

}
@media screen and (max-width:850px) {
    
}
// Small screen <768px
@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 690px) {
    .header{
        &__nav {
            display: none;
        }
    }

    
}
// Small screen <576px 
@media screen and (max-width: 575px) {
    .cta {
        max-width: 270px;
        &__title {
            font-size: 14px;
            font-weight: 500;
        }
        &__subtitle {
            font-size: 12px;
            font-weight: 300;
        }
    }
    .reviews {
        &__wrapper {
            
        }
        &__right {
            max-width: 300px;
            
            // position: absolute;
            // left: 20;
        }
    }
}
// Small screen <576px 
@media screen and (max-width: 450px) {
    .reviews {
        
        &__wrapper {
        }
        
        &__right {
            max-width: 260px;
            // transform: translateX(-5%);
        }
    }
}
@media screen and (max-width: 270px) {
    .reviews {
        
        &__wrapper {
        }
        
        &__right {
            max-width: 160px;
            // transform: translateX(-5%);
        }
    }
}