$white: #ffff;
$bg-main-color: #150e20;
$hd-main-color: #1A0B2E;

.icon {
    padding: 8px;
    border-radius: 100px;
    background: linear-gradient(95deg, #EF9149 2.39%, #F7B217 97.66%, #F7B217 97.66%), #DE485C;
    transition: all 0.5s;
    &:hover {
        scale: 1.2;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: $white;
        transition: all 0.5s;
        
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}