$white: #ffff;
$main-color: #F7B217;
$gradient-main: linear-gradient(95deg, #EF9149 2.39%, #F7B217 97.66%, #F7B217 97.66%), #DE485C;

a {
    &:hover {
        text-decoration: none;
    }
}

.icon {
    padding: 8px;
    border-radius: 100px;
    background: $gradient-main;
    transition: all 0.5s;
    &:hover {
        scale: 1.2;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: $white;
        transition: all 0.5s;
        
    }
}

.button-anim{
    transition: all 0.5s;

    &:hover {
        transform: translateY(-5px);
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    }
    &:focus {
        transition: all 0.2s;
        transform: translateY(0px);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
    }
}

.divider{
    width: 150px;
    height: 3px;
    background-color: #F5A925;
    margin: 15px auto;
}

.bg-color{
    background: #F0F0F0;
}

.main-title{
    text-align: center;
    font-size: 32px;
}

.button{
    border: none;
    &:focus{
        outline: none;
    }
}

.marker-img{
    list-style-image: url('../../img/checkbox.svg');
    list-style-position: inside;
}