$white: #ffff;
$main-color: #F7B217;

$gradient-main: linear-gradient(95deg, #EF9149 2.39%, #F7B217 97.66%, #F7B217 97.66%), #DE485C;

a {
    &:hover {
        text-decoration: none;
    }
}

.icon {
    padding: 8px;
    border-radius: 100px;
    background: $gradient-main;
    transition: all 0.5s;
    &:hover {
        scale: 1.2;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: $white;
        transition: all 0.5s;
        
    }
}   

