.contact {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 65px;
    
    &__form {
        margin-top: 50px;

        &__button {
            max-width: fit-content;
        }
    }
}

.is-hidden{
    display: none;
}
