.platform {
    margin-top: 65px;

    display: flex;
    justify-content: center;

    position: relative;
    
    &__preview {
        max-width: 312px;
        height: 635px;
        margin: 32px auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__descr {
        max-width: 800px;
        margin: 0;
    }
    // &__button {
    //     min-width: 208px;
    //     max-height: 68px;
    // }
}