.platform {
    margin-top: 65px;

    display: flex;
    justify-content: center;

    position: relative;
    
    &__preview {
        max-width: 312px;

        margin: 32px auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__descr {
        max-width: 800px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__button {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
    }
}