.promo {
    height: 100vh;
    width: 100%;
    // padding-bottom: 100px;
    position: relative;
    // min-width: 650px;
    min-height: 610px;
    background: url('../img/promo__bg.png') center/cover no-repeat;
    // min-height: 650px;
    
    &__wrapper{
        max-width: 800px;
        // margin-bottom: 100px;
        color: $white;
        position: absolute;
        bottom: 100px;
    }
    &__title{
        margin: 0 0 30px 0;
    }
    &__descr {
        font-size: 20px;
        font-weight: 400;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 30px 0 0 0;
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;

            &:last-child {
                background: none;
                border-radius: 15px;
                border: 3px solid $white;
                &:hover {
                    color: $white;
                }
            }
        }

    }
    
}