.promo {
    width: 100%;
    // min-height: 650px;
    &__photo {
        position: relative;
        width: 100%;
        min-width: 650px;
        min-height: 610px;
        background: url('../img/promo__bg.png') center/cover no-repeat;
    }
    &__wrapper{
        max-width: 591px;
        min-height: 215px;
        position: absolute;
        bottom: 100px;
        left: 40px;
        color: $white;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 21px;
    }
    &__descr {
        font-size: 20px;
        font-weight: 400;
    }
    &__buttons {
        display: flex;
        gap: 30px;
        margin: 54px 0 0 0;
    }
    &__call {
        width: 145px;
        height: 145px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        right: 0;

        svg {
            width: 149px;
            height: 149px;
        }
    }
}