.promo {
    width: 100%;
    height: 100vh;
    &__photo {
        position: relative;
        width: 100%;
        min-height: 610px;
        background: url('../img/promo__bg.png') no-repeat center/cover;
    }
    &__wrapper{
        max-width: 591px;
        min-height: 215px;
        position: absolute;
        // top: 320px;
        bottom: 100px;
        left: 40px;
        color: $white;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 21px;
    }
    &__descr {
        font-size: 20px;
        font-weight: 400;
    }
    &__buttons {
        // max-width: 601px;
        // min-height: 50px;
        display: flex;
        gap: 30px;
        margin: 54px 0 0 0;

        &__item {
            padding: 10px 30px;
            border-radius: 15px;
            border: none;
            
            background: $gradient-main;
            color: $white;
            transition: all 0.5s;

            &:hover {
                transform: translateY(-5px);
                filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
            }
            &:focus {
                transition: all 0.2s;
                transform: translateY(0px);
                filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
                outline: 0;
            }
        }
    }
    &__call {
        width: 145px;
        height: 145px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        right: 0;

        svg {
            width: 100px;
            height: 100px;
        }

    }
}